@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'roboto';
}

.contenedor-principal{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contenedor{
    width: 500px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: #cccccc;
}

.reacciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
  


}

.reaccion{
    background-color: #f2f2f2;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
}

