@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-color: #212121;
}

h1 {
    font-size: 120px;
    font-weight: 800px;
    margin-bottom: 0px;
    color: #fafafa;
}

p {
    font-size: 48px;
    font-weight: 600px;
    margin: 0;
    color: #fafafa;
}

.nombre {
    color: #3b83bd;
}

.descripcion1 {
    color: green;
}

.descripcion2 {
    color: palevioletred;
}

.descripcion3 {
    color: blueviolet;
}