.azul{
    background-color: blue;
    color: white;
}

.celeste{
    background-color: aqua;
}


.verde{
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.naranja{
    background-color: orangered;
}

.rojo {
    background-color: red;
    color: white;
}