body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E4AA0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-card {
    display: flex;
    flex-direction: column;
    background-color: #1E3349;
    width: 75%;
    height: 50%;
    border-radius: 15px;

}

.header,.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25%;
}


.contenido {
    display: flex;
    flex-direction: row;
    color: white;
    height: 25%;
   
    align-items: center;
    margin: 30px;
justify-content: space-around;
    text-align: center;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
   

}

.titulo{
    font-size: 20px;
}

.resultado{
    font-size: 30px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #3C5DD9;
}

