.pino {
    font-size: 100px;
}

.arbol {
    font-size: 70px;
}

.casa {
    font-size: 60px;
}

.perro {
    font-size: 20px;
}

.edificio {
    font-size: 60px;
}

.pareja {
    font-size: 45px;
}

.carro {
    font-size: 40px;
}