body {
    background-color: #1da1f2;
    display: flex;
    height:637px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
  
}

.contenedor-tweet {
    background-color: white;
    display: flex;
    width: 600px;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    width: 600px;
   margin-bottom: 20px;
}

.usuario {
    display: block;
    margin-left: 20px;
}

.inner {
    display: block;
    margin-top: 0px;
}

p{
    margin-top: 0px;
}


h2{
    margin: 0px;
    font-size: 20px;
}

h3{
    margin: 0px;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-between; 
    width: 600px;
}

.foto-user {
    width: 50px;
    height: 60px;
}

.stats{
    display: flex;

}


.likes {
    margin-left: 10px;
}



.accion {
    text-decoration: none;
    margin-left: 15px;
}